:root {
	--clr-text: #bebcbc;
	--clr-app-bg: #2d2d2d;
	--clr-input-bg: #505050;
	--clr-ip-shadow: #838383;
	--clr-active-item-bg: #5f1d1d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}
