img {
	float: left;
	width: 200px;
	margin: 0 10px 10px 0;
	mix-blend-mode: darken;
}

/* apply this class to element after the floated element */
.clear {
	/* clear: left;  */ /* No floating elements allowed on the left.  */
	/* clear: right; */ /*No floating elements allowed on the right. */
	clear: both;
}

/* apply this class to the parent element */
.clearfix::after {
	content: "";
	display: table; /* 'block' is also working */
	clear: both;
}

/* both works but generally not used if the content inside parent is lengthy */
.parent {
	/* overflow: auto; */
	overflow: hidden;
}
