.list-container {
	margin-top: 3px;
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
}

.list-item {
	list-style: none;
	padding: 8px 10px;
	background-color: #373434;
	font-size: 1.125rem;
}

.active-list-item {
	background-color: #742323;
}
